/* This gets Google to fall into place */
.social-share {
	font-size: 0px;
}

/* This gets Facebook to fall into place */
.social-share iframe {
	vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social-share span {
	display: inline-block;
	width: 100px;
}

/* Adjust the widths individually if you like */
.social-share .google {
	width: 75px;
}

.social-share .linkedin span {
	width: 35px;
	font-weight: normal;

}

.social-share .facebook span {
	width: 140px;
	font-weight: normal;

}